<footer class="text-center bg-dark pt-4 mt-auto">
    <div class="text-white-50">
        <ul class="list-inline">
            <li class="list-inline-item">
                <a class="text-decoration-none"
                   href="https://github.com/neurothrone/weather-api">
                    <i class="fa-brands fa-github fs-3"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="text-decoration-none"
                   href="https://neurothrone.tech/">
                    <i class="fa-solid fa-globe fs-3"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="text-decoration-none"
                   href="https://linkedin.com/in/neurothrone">
                    <i class="fa-brands fa-linkedin fs-3"></i>
                </a>
            </li>
        </ul>

        <p>Copyright <i class="fa-solid fa-copyright"></i> {{ now.year }} Neurothrone. All rights reserved</p>
        <p class="text-muted">Powered by <a class="text-decoration-none"
                                            href="https://fastapi.tiangolo.com/">FastAPI</a></p>
        <p class="text-muted">Icons by <a class="text-decoration-none"
                                          href="https://icons8.com/">Icons8</a></p>
    </div>
</footer>