<footer class="text-center bg-dark pt-3 mt-auto">
    <div class="text-white-50">
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="#"><i class="fa-solid fa-globe"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="https://github.com/neurothrone"><i class="fa-brands fa-github"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="https://linkedin.com/neurothrone"><i class="fa-brands fa-linkedin"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="#"><i class="fa-solid fa-envelope"></i></a>
            </li>
        </ul>

        <p>Copyright <i class="fa-solid fa-copyright"></i> {{ now.year }} Neurothrone. All rights reserved</p>
        <p>Made with <i class="fa-solid fa-heart footer-heart"></i> in Gothenburg, Sweden</p>
        <p class="text-muted">Powered by <a class="text-decoration-none"
                                            href="https://fastapi.tiangolo.com/">FastAPI</a></p>
    </div>
</footer>