/* Body */

body {
    background: burlywood;
}

.param-text {
    color: darkorchid !important;
}

.param-background {
    background: mediumpurple !important;
}

.footer-heart {
    color: darkorchid;
}

/* JSON response */

pre {
    padding: 5px;
    margin: 5px;
}

.string {
    color: palegreen;
}

.number {
    color: orange;
}

.boolean {
    color: blue;
}

.null {
    color: magenta;
}

.key {
    color: palevioletred;
}

/* Social Icons */

.fa-globe {
    color: darkorchid;
}

.fa-globe:hover {
    color: mediumpurple;
}

.fa-gear {
    color: goldenrod;
}

.fa-gear:hover {
    color: gold;
}

.fa-github {
    color: white;
}

.fa-github:hover {
    color: papayawhip;
}

.fa-linkedin {
    color: #0A66C2;
}

.fa-linkedin:hover {
    color: cornflowerblue;
}

.fa-envelope {
    color: greenyellow;
}

.fa-envelope:hover {
    color: palegreen;
}